.header {
  border-bottom: 1px solid var(--secondary-background-color);

  &__container {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__navigation {
    display: flex;
    align-items: center;

    @media screen and (max-width: 767px) {
      width: 100%;
      justify-content: space-between;
    }
  }
}
